.ai_tool_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 25px;
    transition: 0.25s all;
    height: 100%;
    background-color: rgba(48, 52, 22, 0.70);
}

.ai_tool_container:hover {
    background-color: rgba(92, 96, 33, 0.55);
}