.tools {
    height: 100%;
    display: flex;
    align-items: center;
}

.tools__main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tools__chatbot {

}